/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
div#page-header {
  height: auto;
  padding-bottom: 10px; }

div#logo-position {
  float: left;
  margin-top: 11px;
  max-height: 82px;
  width: 35%;
  max-width: 320px; }

div#logo-position a {
  display: block;
  height: auto; }

div#section-logo-position {
  float: left;
  margin-top: 11px;
  width: 60%;
  max-width: 500px;
  padding-left: 0; }

div#section-logo-position a {
  display: block;
  height: auto;
  padding-left: 10px; }

div#section-logo-position a img {
  width: 100%; }

div#links-position {
  padding-top: 10px;
  height: 18px;
  float: right; }

div#links-position ul li {
  float: left; }

ul#networks {
  float: right;
  margin-top: 4px; }

ul#networks li {
  height: 10px;
  border-left: 1px solid #cfcfcf;
  padding: 0 5px; }

ul#networks li a {
  margin-top: -4px;
  display: block; }

ul#networks li.firstli {
  border-left: medium none; }

ul#networks li.lastli {
  padding-right: 0; }

div#bottom-links {
  display: none; }

#section-link-position h1 {
  display: none;
  font-weight: bold;
  background-color: transparent;
  color: #00a0dc;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  line-height: 15px;
  font-size: 12px;
  padding: 0;
  margin: 5px 0 0 0;
  text-align: right;
  max-width: 300px;
  float: right; }

@media screen and (max-width: 8in), screen and (max-width: 700px) {
  div#logo-position {
    width: 70%;
    margin-top: 15px; }

  div#logo-position a img {
    min-width: 151px;
    min-height: 33px; }

  div#section-logo-position img {
    display: none; }

  div#section-logo-position {
    display: block;
    position: absolute;
    right: 16px;
    top: 56px;
    min-width: 250px;
    margin-top: 8px; }

  div#links-position {
    width: 30%;
    padding-right: 0;
    margin-right: 0;
    position: relative; }

  div#links-position ul {
    display: none; }

  div#links-position div.break {
    clear: none; }

  ul#networks {
    display: block; }

  div#bottom-links, div#bottom-links ul#networks {
    display: block; }

  div#bottom-links ul#networks {
    margin: 0 auto;
    float: none;
    width: 117px;
    height: 30px; }

  div#bottom-links ul#networks li {
    float: left; }

  #section-link-position h1 {
    display: block; } }
.aui body {
  background-color: #f4f6f7; }

/***Portlet Start***/
h1.portlet-title {
  display: none; }

.aui .biobank-search-button {
  margin-top: 25px; }

div#topmenu-position .portlet-borderless-bar {
  display: none; }

div#_biobanksearch_WAR_BCNetBiobankportlet_biobankGeneralInformationsSearchContainer {
  display: none; }

div .biobankSearchAccordionTitle {
  color: #0af; }

div .sample-search-results-title {
  color: #0af;
  font-size: 17px;
  font-weight: bold; }

div .biobankSearchAccordionTitle span.title-text {
  color: #0af; }

a.jp {
  position: relative;
  top: 30px;
  left: -60px; }

div#juristic-person {
  float: left;
  margin-right: 5px; }

div#juristic-person .help-inline {
  display: block; }

div#juristic-person-add {
  float: left;
  margin-top: 30px; }

div .well {
  position: relative; }

div.well.biobankSearch {
  padding: 8px 15px;
  background-color: #FFFFFF; }

div#sample-search-results-container .taglib-search-iterator-page-iterator-top {
  display: none; }

div.well.sample-search-results {
  background-color: #FFFFFF;
  margin-bottom: auto;
  border: none; }

div.well.biobankSearch:hover {
  background-color: #F5F5F5; }

div.well.sample-search-results:hover {
  background-color: #F5F5F5; }

div .well .biobankOrganizationDelete {
  position: absolute;
  top: 5px;
  right: 5px; }

div .well .biobankOrganizationEdit {
  position: absolute;
  top: 5px;
  right: 30px; }

div#_biobankorganizationlister_WAR_BCNetBiobankportlet_biobankGeneralInformationsSearchContainer {
  display: none; }

/***Portlet End***/
/***Container Page Start***/
div#page-position {
  /*width:983px;*/
  /*background-color:white;*/
  margin: 0 auto 50px auto;
  /*max-width:983px;*/ }

div#page-position #wrapper {
  padding-top: 0; }

@media (max-width: 983px) {
  div#page-position {
    min-width: 0;
    width: 100%;
    max-width: 100%;
    min-width: 250px;
    margin-bottom: 0; } }
div#wrapper-blue {
  background-color: #0B80B7;
  padding-left: 26px; }

div#page {
  background-color: #FFF;
  padding: 0 19px; }

.break {
  clear: both; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/***Container Page End***/
/***Sign in Register Start***/
div#sign-in-register {
  text-align: right; }

/***Sign in Register End***/
/***Navigation Menu Start***/
div#topmenu-position {
  height: 31px;
  padding: 0;
  position: relative;
  z-index: 3; }

div#topmenu-position ul {
  display: table;
  width: 100%;
  table-layout: auto;
  margin-left: 0px; }

div#topmenu-position ul li {
  border-right: 1px solid #0a6aa7;
  border-left: 1px solid #199fd1;
  display: table-cell;
  width: 0%;
  margin-bottom: 0; }

div#topmenu-position ul li.firstli {
  background-image: url("@theme_image_path@/topmenu-firstli.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  padding-left: 5px;
  border-left: medium none;
  margin-left: 0; }

div#topmenu-position ul li.firstli:hover {
  background-position: 0px -31px; }

div#topmenu-position ul li.lastli {
  background-image: url("@theme_image_path@/topmenu-lastli.jpg");
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 5px;
  border-right: medium none;
  float: none; }

div#topmenu-position ul li.lastli:hover {
  background-position: right -31px; }

div#topmenu-position ul li a {
  font-family: "Gill Sans MT", Helvetica, Arial, sans-serif;
  color: #FFF;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  line-height: 31px;
  height: 31px;
  display: block;
  background-image: url("@theme_image_path@/topmenu-bg.jpg");
  background-repeat: repeat-x;
  background-position: top left;
  text-align: center; }

div#topmenu-position ul li ul {
  display: none;
  z-index: 10;
  position: absolute;
  margin-left: -1px;
  background-position: bottom left;
  background-repeat: no-repeat;
  background-image: url("@theme_image_path@/submenu-bg.png");
  width: 236px;
  padding-left: 1px;
  padding-right: 6px;
  padding-bottom: 18px; }

div#topmenu-position ul li:hover ul {
  display: block; }

div#topmenu-position ul li:hover a {
  background-position: 0px -31px; }

div#topmenu-position ul li.firstli ul {
  margin-left: -5px; }

div#topmenu-position ul li.lastli ul {
  margin-left: -33px; }

div#topmenu-position ul li.lastli div {
  float: right; }

div#topmenu-position ul li ul li {
  background-color: transparent;
  width: 210px;
  display: block;
  height: auto;
  padding: 0 10px;
  margin: 0;
  border: medium none; }

div#topmenu-position ul li ul li a {
  letter-spacing: 0px;
  font-size: 13px; }

div#topmenu-position ul li:hover ul li a, div#topmenu-position ul li.firstli ul li a, div#topmenu-position ul li.lastli ul li a, div#topmenu-position ul li ul li a {
  text-decoration: none;
  text-transform: none;
  background-image: url("@theme_image_path@/leftmenu-arrow.png");
  background-position: 0px 12px;
  background-repeat: no-repeat;
  border-bottom: 1px dashed silver;
  text-align: left;
  display: block;
  color: #7E7C7D;
  padding: 8px 0 8px 10px;
  line-height: 15px;
  height: auto; }

div#topmenu-position ul li:hover ul li:hover a {
  text-decoration: none;
  background-image: url("@theme_image_path@/leftmenu-arrow-selected.png");
  color: #017bba; }

div#topmenu-position ul li ul li.firstli, div#topmenu-position ul li ul li.lastli {
  background-image: none; }

div#topmenu-position ul li:hover ul li.lastli a, div#topmenu-position ul li.firstli ul li.lastli a, div#topmenu-position ul li.lastli ul li.lastli a {
  border-bottom: medium none; }

div#topmenu-position ul li:hover ul li.lastli, div#topmenu-position ul li.firstli ul li.lastli, div#topmenu-position ul li.lastli ul li.lastli,
div#topmenu-position ul li:hover ul li.firstli, div#topmenu-position ul li.firstli ul li.firstli, div#topmenu-position ul li.lastli ul li.firstli {
  background-image: none;
  padding: 0 10px; }

/***Navigation Menu End***/
/***Main Page Content Start***/
div#main {
  display: block; }

div#content {
  padding-bottom: 17px;
  min-height: 500px;
  width: 100%; }

/***Main Page Content End***/
/***Footer Start***/
div#footer {
  height: 58px;
  background-color: #eeeeee; }

div#footer address {
  padding-bottom: 10px;
  padding-top: 18px;
  color: #000;
  font-size: 10px;
  font-weight: normal;
  text-align: center;
  font-style: normal; }

address {
  display: block; }

/***Footer End***/

